table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 75%;
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
table,
th,
td {
  border: 3px solid black;
  font-family: Mondapick;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5em;
}
.form {
  display: flex;
  align-items: center;
}
th {
  padding: 10px 50px;
}

.w {
  width: 30em;
}

h1 {
  font-family: Mondapick;
}

input {
  border-radius: 0.25rem;
  background: white;
}

button {
  background-color: #ff9c9c;
  color: white;
  font-family: Poppins;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 5px 40px;
  font-size: large;
  border: none;
  margin-top: 50px;

}
