table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 75%;
}
table,
th,
td {
  border: 3px solid black;
  font-family: Mondapick;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5em;
}

th {
  padding: 10px 50px;
}
