table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 75%;
  --tw-space-y-reverse: 0;
  
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
table,
th,
td {
  border: 3px solid black;
  font-family: Mondapick;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
}
.containerEvents {
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3em;
}

.w {
  width: 30em;
}

h1 {
  font-family: Mondapick;
}

.sigma {
  text-align: center;
  font-weight: bold;
  font-size: 400%;
}

#eventsTextInput {
  border-radius: 0.25rem;
  background: "../img/background.png";
  font-family: Poppins;
  border-color: grey;
  text-align: center;
}

#Footer {
  bottom: 0;
  top: 100%;
}
#pepelaugh {
  display: flex;
  flex-direction: column;
}

.PICNICS {
  font-family: Poppins;
}
.icbm {
  padding: 35px;
  max-width: 300px;
}

#throwitback {
  top: 0%;
}