.gnome {
  text-align: center;
  font-size: 400%;
}
.body {
  background-color: white;
  background-image: url("../backgrounds/gradient.png");
  height: 100vh;
  
}
.class {
  background-color: white;
}
.header {
  font-weight: bold;
  text-align: center;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row1 {
  display: flex;
  flex-direction: row;
}

.activity {
  padding-left: 20px;
  padding-right: 20px;
}
