img {
    max-width: 100vw;
}
h1 {
    text-align: center;
}
h2  {
    text-align: center;
}
.main {
    background-image: url("/public/img/Background Gradient.png");
}
.class {
    background-color: white;
}
.header {
    font-weight: bold;
}