.gnome {
  text-align: center;
  font-weight: bold;
  font-size: 400%;
}
.body {
  background-color: white;
  background-image: url("../backgrounds/gradient.png");
  height: 100vh;
}
.class {
  background-color: white;
}
.header {
  font-weight: bold;
  text-align: center;
  max-height: 4vh;
  padding: 0px;
}

.header2 {
  justify-content: center;
  text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  margin-top: 10%;
>>>>>>> 6af9e46911bfa60d8879ae5effe608770de5757f
=======
>>>>>>> 86cb0456a7a6535d68640036f1d8091e5ce84417
  font-weight: normal;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.row1 {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.activity {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.central-utility-mechanism {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
