#yourSchedule {
  text-align: center;
  font-weight: bold;
  font-size: 400%;
}
#dottedLine {
  position: absolute;
  top: 60%;
  left: 5%;
  z-index: 1;
  width: 90vw;
  height: 6px;
  object-fit: fill;
}

.times {
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
}

#rowOneSchedule {
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: small;
  font-family: Poppins;
}
/*#rowTwoSchedule {
  grid-row-start: 2;
  grid-row-end: 3;
}*/
#rowThreeSchedule {
  grid-row-start: 3;
  grid-row-end: 4;
  font-family:  Mondapick, sans-serif;
}

/* .times > * {
  --tw-space-x-reverse: 0;
  margin-right: calc(3rem * var(--tw-space-x-reverse));
  margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
} */
.times {
  font-weight: normal; /*i want fonts but idk how*/
}

.iNeedAChiropractorSoBad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../backgrounds/gradient.png");
}

#baseContainer {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  width: 85vw;
  grid-row-gap: 50px;
}
#largerContainer {
  width: 90vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #feeeee;
  border-radius: 20px;
}

#scrolling {
  animation: marquee 43200s linear infinite;
  overflow: hidden;
}

#kittycatcat {
  position: absolute;
  min-width: 90vw;
  top: 45.9%;
  z-index: 10;
  left: 5%;
}

#cat {
  min-height :17vh;
}
/* 
#textInstructions {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}
#textInstructions > li {
  display: flex;
  text-align: center;
  --tw-space-x-reverse: 0;
  margin-right: calc(3rem * var(--tw-space-x-reverse));
  margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
} */
