#footer {
  margin: 0;
  padding: 0;
  background-color: #feeef6;
  display: flex;
  justify-content: center;
  bottom:0px;
  border:solid red;
  position:absolute;
}

.copyright {
  bottom: 0px;
  top:0px;
}
