#footer {
  margin: 0;
  padding: 0;
  background-color: #feeef6;
  bottom: 0px;
  position: fixed;
  text-align: center;
  min-width: 100vw;
  max-height: 70px;
}

.copyright {
  bottom: 0px;
  top:0px;
}
