#habit {
    background-color: #CFB897;
    border: none;
    width: 69px;
    height: 69px;
    transition-duration: 0.2s;
    border-radius: 100%;
}

#habit:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.199), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #97784d;
}

#buttLabel {
    position: relative;
    color: black;
}