* {
  padding: 0;
}
#habit {
  border: none;
  background: transparent;
  border-radius: 100%;
}

#habit:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.199),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #97784d;
  border-radius: 50%;
}

#buttLabel {
  color: rgb(46, 22, 22);
  text-align: center;
}

.clicked {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.199),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #97784d;
  border-radius: 50%;
}
