.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #feeef6;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 20px;
}

.navlink {
  color: black;
  text-decoration: none;
  --tw-space-x-reverse: 0;
  margin-right: calc(5.25rem * var(--tw-space-x-reverse));
  margin-left: calc(5.25rem * calc(1 - var(--tw-space-x-reverse)));
}
